/*****************************************************************************
  PRAC
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';





/*****************************************************************************
  Base Styles
******************************************************************************/

.clear{
	clear: both;
}
.inside{
	padding: 50px 50px;
	background: black;
	margin-top: 30px;
	color: white;

}

a:hover{
	color: pink;
}

/*****************************************************************************
  Layout Styles
******************************************************************************/




/*****************************************************************************
  Module Styles
******************************************************************************/

#nav{
	background-color: #F2F2F2;
	position: fixed;
			top: 0px;
			left: 0px;
			right: 0px;
			z-index: 10000;
	
	.nav-brand{
		float: left;
		.logo{
			margin:0;
			font-size: 24px;
			padding-top: 9px;
			padding-left: 3px;
		}
	}
	.nav-actions{
		float: right;
		padding: 5px;
		
		.glyphicon{
		margin-right: 5px;	
		}
	}

}


.pic{
	height: 400px; 
	background-color: tomato;
	margin-top: 44px;
	line-height: 400px;
	text-align: center;
	background-image: url("http://o.aolcdn.com/hss/storage/adam/be47a349d62426e45540b54e2e3adbe9/pokemon-list.png"); 
	font-size: 100px;
	/**font-weight: bold;**/
	text-shadow: 2px 2px 4px black;
	font-family: helvetica;
	text-decoration: underline;
	-webkit-animation-name: bounce;
	-webkit-animation-duration: 30s;

}
@-webkit-keyframes bounce{
	from{
			-webkit-transform: scale(1.0);
		}
		
	to{
			-webkit-transform: scale(1.5);
		}
	}



.nav2{
	background-color: #f2f2f2;
	height: 40px;
		ul{
			list-style-type: none;
			line-height: 40px;
			text-align: center;
			li{
				display: inline;
				padding: 40px;
				font-family: helvetica;
				font-size: 25px;

			}
		}
}


.body{
	max-width: 100%;
	background: #faf2e6;
	padding: 20px 20px;

	}	
.container{
}

